WEB SCRAPPING USED CARS DATASET FROM CARSDEKHO

IMPPORT THE REQUIRED LIBRARIES

In [1]:
%pip install bs4

Requirement already satisfied: bs4 in /home/sowmya/.local/share/virtualenvs/sowmya-PJ8mRoW_/lib/python3.10/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /home/sowmya/.local/share/virtualenvs/sowmya-PJ8mRoW_/lib/python3.10/site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /home/sowmya/.local/share/virtualenvs/sowmya-PJ8mRoW_/lib/python3.10/site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

FOR SINGLE PAGE

SET THE BASE URL AND URL OF THE PAGE

In [4]:
base_url="https://www.cartrade.com"
base_url_pg="https://www.cartrade.com/buy-used-cars/#sc=-1&so=-1&pn=1"

GET LINKS OF USED CAR FOR ONE PAGE AND ITS DETAILS

In [5]:
carlinks=[]
base_url_pg="https://www.cartrade.com/buy-used-cars/#sc=-1&so=-1&pn=1"
page=requests.get(base_url_pg)
soup=BeautifulSoup(page.content,"html.parser")
h2s = soup.find_all("h2",{"class":"h2heading truncate"})
for h2 in h2s:  
    carlinks.append(base_url + h2.a['href'])

In [6]:
data=[]
for link in carlinks:
    car_url=requests.get(link)
    car=BeautifulSoup(car_url.content,"html.parser")

    car_detail1=car.find("a",{"class":"contact-seller-btn contact-seller-btn-class one-click flatRed pull-lef get-seller-details"})
    try:
        model=car_detail1['data-model']
    except:
        model=None
    try:
        price=car_detail1['data-price']
    except:
        price=None
    try:
        city=car_detail1['data-city']
    except:
        city=None
    try:
        make=car_detail1['data-make']
    except:
        make=None
    try:
        fuel_type=car.find("td", {"class":"vt1"},text="FUEL TYPE").find_next_sibling("td").text
    except:
        fuel_type=None
    try:
        km_driven=car.find("td", {"class":"vt1"},text="KMS Driven").find_next_sibling("td").text
    except:
        km_driven=None
    try:
        color=car.find("td", {"class":"vt1"},text="COLOUR").find_next_sibling("td").text
    except:
        color=None
    try:
        no_of_owners=car.find("td", {"class":"vt1"},text="NUMBER OF OWNERS").find_next_sibling("td").text
    except:
        no_of_owners=None
    try:
        mfg_year=car.find("td", {"class":"vt1"},text="MANUFACTURING YEAR").find_next_sibling("td").text
    except:
        mfg_year=None
    
    details = {"car_name":model,"manufactured by":make,"city":city,"fuel_type":fuel_type,"km_driven":km_driven,"colour":color,"no_of_owners":no_of_owners,"mfg_year":mfg_year,"price":price}

    data.append(details)

FOR MULTIPLE PAGES

CREATE THE BASE URL AND URL OF THE PAGE

In [3]:

base_url_pg="https://www.cartrade.com/buy-used-cars/#sc=-1&so=-1&pn={}"
base_url="https://www.cartrade.com"

TRAVERSE THROUGH THE PAGES UPTO 200 AND GET THE LINKS OF THE USED CARS

In [4]:
carlinks = []
for x in range(1,200):
    page=requests.get(base_url_pg.format(x))
    soup=BeautifulSoup(page.content,"html.parser")
    h2s = soup.find_all("h2",{"class":"h2heading truncate"})
    for h2 in h2s:  
        carlinks.append(base_url + h2.a['href'])

TRAVERSE THROUGH EACH LINK AND GET ITS DETAILS, ADD THE DICTIONARY TO LIST

In [5]:
data=[]
for link in carlinks:
    car_url=requests.get(link)
    car=BeautifulSoup(car_url.content,"html.parser")

    car_detail1=car.find("a",{"class":"contact-seller-btn contact-seller-btn-class one-click flatRed pull-lef get-seller-details"})
    try:
        model=car_detail1['data-model']
    except:
        model=None
    try:
        price=car_detail1['data-price']
    except:
        price=None
    try:
        city=car_detail1['data-city']
    except:
        city=None
    try:
        make=car_detail1['data-make']
    except:
        make=None
    try:
        fuel_type=car.find("td", {"class":"vt1"},text="FUEL TYPE").find_next_sibling("td").text
    except:
        fuel_type=None
    try:
        km_driven=car.find("td", {"class":"vt1"},text="KMS Driven").find_next_sibling("td").text
    except:
        km_driven=None
    try:
        color=car.find("td", {"class":"vt1"},text="COLOUR").find_next_sibling("td").text
    except:
        color=None
    try:
        no_of_owners=car.find("td", {"class":"vt1"},text="NUMBER OF OWNERS").find_next_sibling("td").text
    except:
        no_of_owners=None
    try:
        mfg_year=car.find("td", {"class":"vt1"},text="MANUFACTURING YEAR").find_next_sibling("td").text
    except:
        mfg_year=None
    
    details = {"car_name":model,"manufactured by":make,"city":city,"fuel_type":fuel_type,"km_driven":km_driven,"colour":color,"no_of_owners":no_of_owners,"mfg_year":mfg_year,"price":price}

    data.append(details)

CONVERT LIST TO DATAFRAME

In [12]:
df = pd.DataFrame(data)
df.to_excel("Used Cars1.xlsx",index=False)

USED CAR-DF CONTAINS '\n\t' AND PRECEDING WHITESPACE IN 'no_of_owners', LETS REMOVE THEM.
km_driven- remove Kms in the column.

In [13]:
df.head()

,car_name,manufactured by,city,fuel_type,km_driven,colour,no_of_owners,mfg_year,price
0,Ameo,Volkswagen,Mumbai,Petrol,"58,190 Kms",White,First\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t,2016,489000
1,Duster,Renault,Bangalore,Diesel,"63,673 Kms",Grey,First\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t,2018,1025000
2,Yaris,Toyota,Mumbai,Petrol,"27,177 Kms",White,First\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t,2019,850000
3,City,Honda,Delhi,Diesel,"5,000 Kms",White,First\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t,2021,1450000
4,Seltos,Kia,Bangalore,Petrol,"42,556 Kms",Grey,First\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t,2020,1699000

In [14]:
df['no_of_owners']=df['no_of_owners'].replace('\t',' ', regex=True)
df['no_of_owners']=df['no_of_owners'].replace('\n',' ', regex=True)
df['no_of_owners']=df['no_of_owners'].replace(' ','',regex=True)

#KMS in km_driven
df['km_driven']=df['km_driven'].replace(" Kms","",regex=True)
df['km_driven']=df['km_driven'].replace(",","",regex=True)

FINAL DF-SAVE IN EXCEL

In [16]:
df.to_excel("Used Cars2.xlsx",index=False)
df.head()

,car_name,manufactured by,city,fuel_type,km_driven,colour,no_of_owners,mfg_year,price
0,Ameo,Volkswagen,Mumbai,Petrol,58190,White,First,2016,489000
1,Duster,Renault,Bangalore,Diesel,63673,Grey,First,2018,1025000
2,Yaris,Toyota,Mumbai,Petrol,27177,White,First,2019,850000
3,City,Honda,Delhi,Diesel,5000,White,First,2021,1450000
4,Seltos,Kia,Bangalore,Petrol,42556,Grey,First,2020,1699000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6365 entries, 0 to 6364
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   car_name         6327 non-null   object
 1   manufactured by  6327 non-null   object
 2   city             6327 non-null   object
 3   fuel_type        6327 non-null   object
 4   km_driven        6327 non-null   object
 5   colour           6327 non-null   object
 6   no_of_owners     6327 non-null   object
 7   mfg_year         6327 non-null   object
 8   price            6327 non-null   object
dtypes: object(9)
memory usage: 447.7+ KB

In [18]:
df.isnull().sum()

car_name           38
manufactured by    38
city               38
fuel_type          38
km_driven          38
colour             38
no_of_owners       38
mfg_year           38
price              38
dtype: int64